---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: traefik
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`dashboard-${external_ip_dashed}.traefik.me`)
    kind: Rule
    services:
      - kind: TraefikService
        name: api@internal
  tls:
    secretName: ${secret_name}
